In [1]:
import sqlite3
import pandas as pd
import numpy as np
import pyreadr # for importing rds file

In [ ]:

# importing the country concordance 
country = pd.read_excel('GNWO Country.xlsx')

In [34]:
### creating a function to pull the data into dataframes

def pull_his_gdp(path, latent_indi, var):
    
    #importing the data and slicing the needed datapoints
    dt = pyreadr.read_r(path)
    dt = dt[None]
    dt = dt[dt['indicator'] == latent_indi]
    
    ### gdp mean values
    # take the mean values and pivoting the data to wide format
    dt = dt.pivot(index = 'gwno', columns = 'year', values = var)
    
    # merging in the country concordance
    dt = country.merge(dt, on='gwno', how='left')
    dt = dt.drop(columns=['gwno', 'Country Name']) 
    dt = dt.rename(columns={'IFs Country': 'Country'})
    
    # take the mean values and fill the earliest/mostrecent columns
    year_columns = [col for col in dt.columns if str(col).isdigit()]
    dt['Earliest'] = dt[year_columns].bfill(axis=1).iloc[:, 0]
    dt['MostRecent'] = dt[year_columns].ffill(axis=1).iloc[:, -1]
    
    #change decimal place according to the datadict
    dt[year_columns + ['Earliest', 'MostRecent']] = dt[year_columns + ['Earliest', 'MostRecent']].round(5)
    print(dt.head())
    return dt

In [35]:
## pulling the variables needed into dataframes
gdp_mean = pull_his_gdp('estimates_gdp_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds', 
                        'latent_gdp', 'mean')
print(gdp_mean.head())

       Country FIPS_CODE       1500       1501       1502      1503  \
0  Afghanistan       AFG        NaN        NaN        NaN       NaN
1      Albania       ALB   36.36717   36.22964   36.27079   36.3751
2      Algeria       DZA  266.61539  268.36921  269.67871  272.1737
3       Angola       AGO        NaN        NaN        NaN       NaN
4    Argentina       ARG        NaN        NaN        NaN       NaN

        1504       1505       1506       1507  ...          2012  \
0        NaN        NaN        NaN        NaN  ...   13672.59194
1   36.59750   36.80215   36.91690   36.89560  ...    7045.22355
2  274.43569  276.25657  276.89699  278.16066  ...  105884.67245
3        NaN        NaN        NaN        NaN  ...   33387.66701
4        NaN        NaN        NaN        NaN  ...  208311.82129

           2013          2014          2015          2016          2017  \
0   14385.34345   14697.91563   14583.94635   14763.57660   15093.78288
1    7121.41166    7224.73706    7269.66973    7452.99635    7688.46249
2  108039.18599  110153.38138  110855.05242  112247.17777  111523.70826
3   35448.45667   36773.51793   36929.84816   36425.04090   35405.39569
4  210111.65876  206928.42825  203685.30043  201789.89727  204337.51625

           2018          2019    Earliest    MostRecent
0   15306.21494   15436.00984  1061.27031   15436.00984
1    7899.31551    7944.39966    36.36717    7944.39966
2  110917.75337  108920.18080   266.61539  108920.18080
3   34644.34312   34189.97031  1798.31006   34189.97031
4  203881.83428  202247.28638   252.06828  202247.28638

[5 rows x 524 columns]
       Country FIPS_CODE       1500       1501       1502      1503  \
0  Afghanistan       AFG        NaN        NaN        NaN       NaN
1      Albania       ALB   36.36717   36.22964   36.27079   36.3751
2      Algeria       DZA  266.61539  268.36921  269.67871  272.1737
3       Angola       AGO        NaN        NaN        NaN       NaN
4    Argentina       ARG        NaN        NaN        NaN       NaN

        1504       1505       1506       1507  ...          2012  \
0        NaN        NaN        NaN        NaN  ...   13672.59194
1   36.59750   36.80215   36.91690   36.89560  ...    7045.22355
2  274.43569  276.25657  276.89699  278.16066  ...  105884.67245
3        NaN        NaN        NaN        NaN  ...   33387.66701
4        NaN        NaN        NaN        NaN  ...  208311.82129

           2013          2014          2015          2016          2017  \
0   14385.34345   14697.91563   14583.94635   14763.57660   15093.78288
1    7121.41166    7224.73706    7269.66973    7452.99635    7688.46249
2  108039.18599  110153.38138  110855.05242  112247.17777  111523.70826
3   35448.45667   36773.51793   36929.84816   36425.04090   35405.39569
4  210111.65876  206928.42825  203685.30043  201789.89727  204337.51625

           2018          2019    Earliest    MostRecent
0   15306.21494   15436.00984  1061.27031   15436.00984
1    7899.31551    7944.39966    36.36717    7944.39966
2  110917.75337  108920.18080   266.61539  108920.18080
3   34644.34312   34189.97031  1798.31006   34189.97031
4  203881.83428  202247.28638   252.06828  202247.28638

[5 rows x 524 columns]

In [25]:

gdp_mean_log10 = pull_his_gdp('estimates_gdp_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_gdp', 'mean_log10')

       Country FIPS_CODE     1500     1501     1502     1503     1504  \
0  Afghanistan       AFG      NaN      NaN      NaN      NaN      NaN
1      Albania       ALB  1.43057  1.42945  1.42895  1.42972  1.43073
2      Algeria       DZA  2.30922  2.31142  2.31311  2.31606  2.31956
3       Angola       AGO      NaN      NaN      NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN      NaN      NaN

      1505     1506     1507  ...     2012     2013     2014     2015  \
0      NaN      NaN      NaN  ...  4.13509  4.15713  4.16649  4.16309
1  1.43181  1.43350  1.43243  ...  3.84717  3.85181  3.85806  3.86076
2  2.32213  2.32262  2.32436  ...  5.02413  5.03287  5.04125  5.04397
3      NaN      NaN      NaN  ...  4.52283  4.54884  4.56476  4.56662
4      NaN      NaN      NaN  ...  5.31802  5.32174  5.31511  5.30821

      2016     2017     2018     2019  Earliest  MostRecent
0  4.16839  4.17787  4.18383  4.18705   2.94721     4.18705
1  3.87159  3.88500  3.89669  3.89877   1.43057     3.89877
2  5.04945  5.04652  5.04404  5.03581   2.30922     5.03581
3  4.56061  4.54815  4.53860  4.53253   3.25270     4.53253
4  5.30413  5.30953  5.30849  5.30470   2.39269     5.30470

[5 rows x 524 columns]

In [26]:
gdp_sd = pull_his_gdp('estimates_gdp_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_gdp', 'sd')

       Country FIPS_CODE       1500       1501       1502       1503  \
0  Afghanistan       AFG        NaN        NaN        NaN        NaN
1      Albania       ALB   32.84511   32.71031   33.00476   33.21989
2      Algeria       DZA  227.75453  228.73123  230.77394  236.13309
3       Angola       AGO        NaN        NaN        NaN        NaN
4    Argentina       ARG        NaN        NaN        NaN        NaN

        1504       1505       1506       1507  ...         2012         2013  \
0        NaN        NaN        NaN        NaN  ...    810.53910    869.79037
1   33.61804   34.31399   34.43973   34.40820  ...    408.16063    420.10140
2  239.24479  240.33454  245.24681  245.77181  ...   6063.25206   6189.19973
3        NaN        NaN        NaN        NaN  ...   1969.15878   2098.03817
4        NaN        NaN        NaN        NaN  ...  11774.60335  12050.90971

          2014         2015         2016         2017         2018  \
0    872.86500    880.17802    898.80358    987.58495   1062.28823
1    431.40108    431.11233    436.66971    477.33202    511.28193
2   6481.87371   6675.17410   6492.80824   6964.97677   7374.11057
3   2204.90288   2188.74230   2202.84780   2307.18944   2388.46483
4  11857.17565  11972.93214  12037.59618  12579.73995  13074.46920

          2019   Earliest   MostRecent
0   1277.81398  720.10543   1277.81398
1    613.90227   32.84511    613.90227
2   8426.70269  227.75453   8426.70269
3   2716.98062  180.93852   2716.98062
4  14947.78406   51.63222  14947.78406

[5 rows x 524 columns]

In [27]:
gdp_sd_log10 = pull_his_gdp('estimates_gdp_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_gdp', 'sd_log10')

       Country FIPS_CODE     1500     1501     1502     1503     1504  \
0  Afghanistan       AFG      NaN      NaN      NaN      NaN      NaN
1      Albania       ALB  0.33608  0.33532  0.33656  0.33714  0.33928
2      Algeria       DZA  0.31623  0.31750  0.31798  0.31870  0.31904
3       Angola       AGO      NaN      NaN      NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN      NaN      NaN

      1505     1506     1507  ...     2012     2013     2014     2015  \
0      NaN      NaN      NaN  ...  0.02576  0.02631  0.02575  0.02615
1  0.34049  0.33996  0.34183  ...  0.02517  0.02558  0.02575  0.02565
2  0.31968  0.31997  0.32083  ...  0.02477  0.02484  0.02550  0.02612
3      NaN      NaN      NaN  ...  0.02567  0.02568  0.02602  0.02570
4      NaN      NaN      NaN  ...  0.02453  0.02492  0.02483  0.02547

      2016     2017     2018     2019  Earliest  MostRecent
0  0.02643  0.02838  0.03010  0.03592   0.26018     0.03592
1  0.02542  0.02695  0.02800  0.03349   0.33608     0.03349
2  0.02508  0.02707  0.02886  0.03353   0.31623     0.03353
3  0.02625  0.02828  0.02998  0.03457   0.04331     0.03457
4  0.02593  0.02670  0.02781  0.03208   0.08739     0.03208

[5 rows x 524 columns]

In [36]:
gdppc_mean = pull_his_gdp('estimates_gdppc_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_gdppc', 'mean')

       Country FIPS_CODE     1500     1501     1502     1503     1504  \
0  Afghanistan       AFG      NaN      NaN      NaN      NaN      NaN
1      Albania       ALB  1.69576  1.68969  1.68800  1.69131  1.69894
2      Algeria       DZA  1.65056  1.65265  1.65256  1.65822  1.66165
3       Angola       AGO      NaN      NaN      NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN      NaN      NaN

      1505     1506     1507  ...      2012      2013      2014      2015  \
0      NaN      NaN      NaN  ...   4.10553   4.21002   4.19960   4.08377
1  1.70287  1.70508  1.70382  ...  22.44361  22.70829  23.10304  23.34064
2  1.66688  1.66493  1.66824  ...  26.53137  26.60870  26.63767  26.42833
3      NaN      NaN      NaN  ...  13.89480  14.21421  14.25440  13.86932
4      NaN      NaN      NaN  ...  46.47678  46.37682  45.36339  44.41613

       2016      2017      2018      2019  Earliest  MostRecent
0   4.04414   4.04216   4.01137   3.97496   3.00402     3.97496
1  23.96841  24.76208  25.50900  25.85656   1.69576    25.85656
2  26.28444  25.64777  25.10904  24.32220   1.65056    24.32220
3  13.22295  12.37720  11.63153  10.86746   4.05975    10.86746
4  43.71854  43.87763  43.40941  42.89587   3.90247    42.89587

[5 rows x 524 columns]

In [37]:
gdppc_mean_log10 = pull_his_gdp('estimates_gdppc_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_gdppc', 'mean_log10')

       Country FIPS_CODE     1500     1501     1502     1503     1504  \
0  Afghanistan       AFG      NaN      NaN      NaN      NaN      NaN
1      Albania       ALB  0.09952  0.09908  0.09807  0.09897  0.10048
2      Algeria       DZA  0.10250  0.10302  0.10301  0.10398  0.10515
3       Angola       AGO      NaN      NaN      NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN      NaN      NaN

      1505     1506     1507  ...     2012     2013     2014     2015  \
0      NaN      NaN      NaN  ...  0.61277  0.62364  0.62259  0.61042
1  0.10111  0.10214  0.10139  ...  1.35046  1.35556  1.36303  1.36748
2  0.10602  0.10530  0.10583  ...  1.42317  1.42442  1.42486  1.42139
3      NaN      NaN      NaN  ...  1.14220  1.15207  1.15330  1.14141
4      NaN      NaN      NaN  ...  1.66665  1.66568  1.65610  1.64693

      2016     2017     2018     2019  Earliest  MostRecent
0  0.60616  0.60581  0.60242  0.59816   0.40030     0.59816
1  1.37901  1.39308  1.40591  1.41146   0.09952     1.41146
2  1.41907  1.40831  1.39897  1.38483   0.10250     1.38483
3  1.12065  1.09181  1.06474  1.03495   0.60672     1.03495
4  1.64002  1.64156  1.63682  1.63139   0.58973     1.63139

[5 rows x 524 columns]

In [38]:
gdppc_sd = pull_his_gdp('estimates_gdppc_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_gdppc', 'sd')

       Country FIPS_CODE     1500     1501     1502     1503     1504  \
0  Afghanistan       AFG      NaN      NaN      NaN      NaN      NaN
1      Albania       ALB  1.53687  1.51837  1.52887  1.52819  1.53472
2      Algeria       DZA  1.39267  1.38648  1.38637  1.40156  1.40479
3       Angola       AGO      NaN      NaN      NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN      NaN      NaN

      1505     1506     1507  ...     2012     2013     2014     2015  \
0      NaN      NaN      NaN  ...  0.21609  0.22894  0.22488  0.22193
1  1.55051  1.54967  1.54334  ...  1.21584  1.22231  1.25963  1.26426
2  1.40652  1.41785  1.42386  ...  1.38523  1.41107  1.44811  1.47629
3      NaN      NaN      NaN  ...  0.76210  0.77920  0.78027  0.75503
4      NaN      NaN      NaN  ...  2.42287  2.47719  2.40319  2.35609

      2016     2017     2018     2019  Earliest  MostRecent
0  0.22372  0.24699  0.25467  0.29309   2.05177     0.29309
1  1.28735  1.41634  1.53478  1.84938   1.53687     1.84938
2  1.41163  1.49773  1.58424  1.79075   1.39267     1.79075
3  0.74115  0.75891  0.74635  0.79964   0.36968     0.79964
4  2.38411  2.46191  2.58264  2.95628   0.33718     2.95628

[5 rows x 524 columns]

In [39]:
gdppc_sd_log10 = pull_his_gdp('estimates_gdppc_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_gdppc', 'sd_log10')

       Country FIPS_CODE     1500     1501     1502     1503     1504  \
0  Afghanistan       AFG      NaN      NaN      NaN      NaN      NaN
1      Albania       ALB  0.33534  0.33401  0.33455  0.33477  0.33546
2      Algeria       DZA  0.31484  0.31512  0.31511  0.31537  0.31524
3       Angola       AGO      NaN      NaN      NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN      NaN      NaN

      1505     1506     1507  ...     2012     2013     2014     2015  \
0      NaN      NaN      NaN  ...  0.02284  0.02359  0.02323  0.02358
1  0.33555  0.33498  0.33633  ...  0.02352  0.02331  0.02354  0.02350
2  0.31621  0.31625  0.31680  ...  0.02258  0.02297  0.02352  0.02421
3      NaN      NaN      NaN  ...  0.02380  0.02377  0.02375  0.02363
4      NaN      NaN      NaN  ...  0.02261  0.02315  0.02294  0.02300

      2016     2017     2018     2019  Earliest  MostRecent
0  0.02399  0.02644  0.02745  0.03195   0.25726     0.03195
1  0.02332  0.02484  0.02603  0.03102   0.33534     0.03102
2  0.02327  0.02531  0.02730  0.03189   0.31484     0.03189
3  0.02431  0.02660  0.02787  0.03200   0.03927     0.03200
4  0.02370  0.02438  0.02581  0.02988   0.03745     0.02988

[5 rows x 524 columns]

In [40]:
pop_mean = pull_his_gdp('estimates_pop_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_pop', 'mean')

       Country FIPS_CODE       1500       1501       1502       1503  \
0  Afghanistan       AFG        NaN        NaN        NaN        NaN
1      Albania       ALB   21.47482   21.45874   21.49931   21.50647
2      Algeria       DZA  161.28618  162.01339  162.76151  163.61059
3       Angola       AGO        NaN        NaN        NaN        NaN
4    Argentina       ARG        NaN        NaN        NaN        NaN

        1504       1505       1506       1507  ...        2012        2013  \
0        NaN        NaN        NaN        NaN  ...  3330.44167  3417.12221
1   21.49631   21.53174   21.57726   21.57223  ...   313.93713   313.60713
2  164.60108  165.34821  165.89975  166.46892  ...  3991.12769  4060.63749
3        NaN        NaN        NaN        NaN  ...  2403.07778  2494.05602
4        NaN        NaN        NaN        NaN  ...  4482.31122  4530.88834

         2014        2015        2016        2017        2018        2019  \
0  3500.12669  3571.40990  3650.90608  3734.57057  3816.04906  3883.73237
1   312.72610   311.47162   310.96512   310.50189   309.69113   307.28629
2  4135.52749  4194.84373  4270.79671  4348.62342  4418.00796  4479.42451
3  2579.91745  2662.81293  2754.85059  2860.76440  2978.55819  3146.38104
4  4561.79979  4585.84480  4615.78718  4657.06033  4697.03014  4715.71384

    Earliest  MostRecent
0  353.97775  3883.73237
1   21.47482   307.28629
2  161.28618  4479.42451
3  442.96268  3146.38104
4   64.58064  4715.71384

[5 rows x 524 columns]

In [41]:
pop_mean_log10 = pull_his_gdp('estimates_pop_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_pop', 'mean_log10')

       Country FIPS_CODE     1500     1501     1502     1503     1504  \
0  Afghanistan       AFG      NaN      NaN      NaN      NaN      NaN
1      Albania       ALB  1.33106  1.33037  1.33088  1.33074  1.33026
2      Algeria       DZA  2.20673  2.20840  2.21010  2.21208  2.21441
3       Angola       AGO      NaN      NaN      NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN      NaN      NaN

      1505     1506     1507  ...     2012     2013     2014     2015  \
0      NaN      NaN      NaN  ...  3.52232  3.53348  3.54391  3.55267
1  1.33070  1.33136  1.33104  ...  2.49671  2.49625  2.49503  2.49328
2  2.21611  2.21731  2.21852  ...  3.60095  3.60846  3.61639  3.62258
3      NaN      NaN      NaN  ...  3.38063  3.39677  3.41146  3.42520
4      NaN      NaN      NaN  ...  3.65137  3.65605  3.65901  3.66128

      2016     2017     2018     2019  Earliest  MostRecent
0  3.56222  3.57206  3.58140  3.58889   2.54692     3.58889
1  2.49257  2.49193  2.49077  2.48731   1.33106     2.48731
2  3.63038  3.63821  3.64507  3.65098   2.20673     3.65098
3  3.43996  3.45634  3.47386  3.49757   2.64598     3.49757
4  3.66411  3.66797  3.67167  3.67331   1.80296     3.67331

[5 rows x 524 columns]

In [42]:
pop_sd = pull_his_gdp('estimates_pop_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_pop', 'sd')

       Country FIPS_CODE      1500      1501      1502      1503      1504  \
0  Afghanistan       AFG       NaN       NaN       NaN       NaN       NaN
1      Albania       ALB   1.35900   1.62197   1.81635   1.97791   2.12413
2      Algeria       DZA  10.21875  11.80903  13.28082  14.60568  15.87848
3       Angola       AGO       NaN       NaN       NaN       NaN       NaN
4    Argentina       ARG       NaN       NaN       NaN       NaN       NaN

       1505      1506      1507  ...       2012       2013       2014  \
0       NaN       NaN       NaN  ...   96.65709   98.15665  100.39293
1   2.26156   2.39357   2.48934  ...    7.76041    7.71807    7.86528
2  17.01224  17.96949  19.00344  ...  101.97562  102.85854  105.17790
3       NaN       NaN       NaN  ...   60.75287   63.29678   67.71159
4       NaN       NaN       NaN  ...  108.81434  111.33653  109.60790

        2015       2016       2017       2018       2019  Earliest  MostRecent
0  100.97177  103.93850  106.71871  119.46368  157.20798  34.52785   157.20798
1    7.90046    7.84947    7.82370    8.29343   10.15558   1.35900    10.15558
2  106.63988  105.65098  110.37905  118.04684  148.76466  10.21875   148.76466
3   66.81372   69.64711   72.89473   78.30179  103.95913  18.77185   103.95913
4  115.95810  116.88818  120.01814  124.49107  155.59825  11.83700   155.59825

[5 rows x 524 columns]

In [43]:
pop_sd_log10 = pull_his_gdp('estimates_pop_model_combined_normal_noslope_gamma_lambda_additive_test_20240416.rds',
                              'latent_pop', 'sd_log10')

       Country FIPS_CODE     1500     1501     1502    1503     1504     1505  \
0  Afghanistan       AFG      NaN      NaN      NaN     NaN      NaN      NaN
1      Albania       ALB  0.02752  0.03277  0.03660  0.0398  0.04276  0.04545
2      Algeria       DZA  0.02752  0.03169  0.03552  0.0389  0.04194  0.04459
3       Angola       AGO      NaN      NaN      NaN     NaN      NaN      NaN
4    Argentina       ARG      NaN      NaN      NaN     NaN      NaN      NaN

      1506     1507  ...     2012     2013     2014     2015     2016  \
0      NaN      NaN  ...  0.01259  0.01248  0.01244  0.01229  0.01237
1  0.04782  0.04973  ...  0.01074  0.01068  0.01092  0.01102  0.01095
2  0.04691  0.04941  ...  0.01110  0.01100  0.01105  0.01104  0.01073
3      NaN      NaN  ...  0.01098  0.01103  0.01140  0.01088  0.01097
4      NaN      NaN  ...  0.01054  0.01067  0.01044  0.01096  0.01099

      2017     2018     2019  Earliest  MostRecent
0  0.01241  0.01360  0.01757   0.04233     0.01757
1  0.01094  0.01162  0.01434   0.02752     0.01434
2  0.01104  0.01158  0.01445   0.02752     0.01445
3  0.01107  0.01142  0.01433   0.01840     0.01433
4  0.01119  0.01151  0.01433   0.07871     0.01433

[5 rows x 524 columns]

In [53]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDP%mean'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdp_mean.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [54]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDP%meanLog10'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdp_mean_log10.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [55]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDP%sd'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdp_sd.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [56]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDP%sd_log10'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdp_sd_log10.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [57]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDPPC%mean'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdppc_mean.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [59]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDPPC%mean_log10'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdppc_mean_log10.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [60]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDPPC%sd'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdppc_sd.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [61]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalGDPPC%sd_log10'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
gdppc_sd_log10.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [62]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalPOP%mean'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
pop_mean.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [63]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalPOP%meanlog10'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
pop_mean_log10.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [64]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalPOP%sd'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
pop_sd.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [65]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'SeriesHistoricalPOP%sd_log10'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"
            
cursor.execute(create_table_sql)
pop_sd_log10.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()

In [13]:
# importig datadict
DataDict = pd.read_csv('datadict.csv')

In [15]:
#sql table; change table name each time you import 
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
table_name = 'DataDict'

DataDict.to_sql(table_name, conn, if_exists='append', index=False)
conn.commit()
conn.close()